<div id="screen">
<div class="influencer_img">
    <img src=<%= @challenge.photo_url %> >
    <div class='image-gradient'>

    </div>
</div>
<div id="pad">
</div>
<div class="container">

  <div class="card-overlay">
    <div>
      <%= render "shared/challengeShow" %>

      <div class="row">
        <ol>
          <%= render "shared/leaderboardcard" %>
        </ol>
      </div>

      
      <img src=<%= @challenge.photo_url %>>
  <h1>the LEADERboard</h1>
  <div class="card-deck">
    <div class="row">
      <h2 class="card-title"><%= @challenge.title %></h2>
      <h5 class="card-title"><%= @challenge.description %></h5>
      <ol>
        <%= render "shared/leaderboardcard" %>
      </ol>

    
    </div>
  </div>
</div>
</div>
