

  <div class="card">
    <div id="avatar-card">
      <%= cl_image_tag(@challenge.avatar_photo, class: "avatar") %>
    </div>
    <div id="header-body">
      <h4><lighter><%= @challenge.title %></lighter></h4>
      <div class="challenge-card-meta">
        <span><lighter><%= @challenge.duration_days %> days</lighter></span>
        <span><lighter><%= @challenge.start_date.to_s(:long) %></lighter></span>
      </div>
      <div class="js-challenge-description-abstract">
        <p class="challenge_desc"><%= @challenge.description.truncate(80) %> <button class="js-challenge-description-show-btn collapsible">More...</button></p>
      </div>
      <div class="js-challenge-description-full hide">
        <div class="content">
          <p class="challenge_desc"><%= @challenge.description %></p>
        </div>

      <% if !check_user %>
      <%= link_to "Task Results", challenge_task_results_path, class: "task_results_btn" %>
      <% else %>
      <%= simple_form_for :participant do |f| %>
        <%= f.button :submit, 'Join', class: "join_button" %>
      <% end %>
      <% end %>
    </div>
    <div id="spots-remaining">
      <!-- display spots remaining -->
      <h5> Spots Remaining: <%= @challenge.total_spots - @challenge.taken_spots %> </h5>
    </div>
  </div>
<script>
// var i;
// var coll = document.getElementsByClassName("collapsible");

// for (i = 0; i < coll.length; i++) {
//   coll[i].addEventListener("click", function() {
//     this.classList.toggle("active");
//     var content = this.nextElementSibling;
//     if (content.style.display === "block") {
//       content.style.display = "none";
//     } else {
//       content.style.display = "block";
//     }
//   });
// }

  const abstractElement = document.querySelector('.js-challenge-description-abstract');
  const fullElement = document.querySelector('.js-challenge-description-full');
  const showButton = document.querySelector('.js-challenge-description-show-btn');

  abstractElement.addEventListener('click', () => {
    fullElement.classList.remove('hide');
    abstractElement.classList.add('hide');
  });

  fullElement.addEventListener('click', () => {
fullElement.classList.add('hide');
    abstractElement.classList.remove('hide');
  });

</script>

