<div id="leaderboard-card">
  <% @participants.each do |participant| %>
    <div class="notification">
      <%= cl_image_tag(participant.user.photo, class: "avatar") %>
      <div class="notification-content">
        <p><strong><%= participant.user.handle %></strong></p>
        <% participant.badges.each do |badge| %>
          <img src=<%= badge.icon_name %>>
        <% end %>
      </div>
        <%= form_tag challenge_upvotr_path, method: :post, remote: true do %>
          <%= button_tag class: "upvote-btn",  value: "#{participant.id}" do %>
            <p class="upboats"><%= participant.total_points %></p>
            <i class='fa fa-arrow-up'></i>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
