<!-- check if a user already has a photo, if they do execute edit to update the photo -->
<div class="container">
  <div class="row">
    <div class=".col-xs-12 .col-md-6">
      <h2> <%= @user.handle %></h2>
        <%= cl_image_tag(current_user.photo, class: "avatar") %>
          <p>Click below to update your profile photo</p>
          <p> This is the profile picture that will be displayed on the leaderboard </p>
          <%= simple_form_for @user, url: pages_profile_add_picture_path, method: :patch do |f| %>
          <%= f.input :handle %>
          <%= f.input :photo, class: "btn-success"%>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, 'Update', class: "btn-success" %>
          <br>
          <% end %>
          <br>
         <%= button_to 'Password Reset', edit_user_registration_path, method: :get, class: "btn-success" %>
         <br>
         <%= link_to 'Back', :back %>
    </div>
  </div>
</div>

