<!-- check if a user already has a photo, if they do execute edit to update the photo -->

<h2> <%= @user.handle %></h2>
<%= cl_image_tag(current_user.photo, class: "avatar") %>
  <p>Click below to update your profile photo</p>
  <p> This is the profile picture that will be displayed on the leaderboard </p>
  <%= simple_form_for @user, url: pages_profile_add_picture_path, method: :patch do |f| %>
  <%= f.input :handle %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, 'Update Photo', class: "btn-success" %>
  <%= link_to 'Back', :back %>
<% end %>





