
<%= simple_form_for(challenge) do |f| %>
    <%= f.error_notification %>

  <div id="page1">
    <h3> Create Challenge </h3>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
           aria-valuemin="0" aria-valuemax="100" style="width:4%"> 0% Complete
        </div>
      </div>
    <h4>Page one: The Basics </h4>
    <%= f.input :title, label: 'Challenge Name',
    placeholder: "max. 25 characters", input_html: {maxlength: 25 } %>
    <%= f.input :description, input_html: {rows: 8, maxlength: 3000 }, label: 'Challenge details', placeholder: 'max. 3000 characters, we recommend around 1000 characters' %>
    <button type="button" name="next_button1" class="btn-success" id="next_button1">Next</button>
    <%= link_to 'Back', :back %>
  </div>

  <div id="page2" style="display:none">
    <br/>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"
           aria-valuemin="0" aria-valuemax="100" style="width:50%"> 30% Complete
      </div>
    </div>
    <br/>
    <h4>Page two: The Basics </h4>
    <%= f.input :start_date, as: :date, html5: true, label: 'Start Date', placeholder: "Kim's 30 Day Body Tranformation Challenge" %>
    <%= f.input :duration_days, label: 'Challenge duration', placeholder: 'How many days?' %>
    <%= f.input :total_spots, label: 'Spots available', placeholder: 'Max. number of participants' %>
    <button type="button" name="next_button2" class="btn-success" id="next_button2">Next
    </button>
    <%= link_to 'Back', :back %>
  </div>

  <div id="page3" style="display:none">
    <br/>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
           aria-valuemin="0" aria-valuemax="100" style="width:60%"> 60% Complete
      </div>
    </div>
      <%= f.input :price_cents, label: 'Buy In', placeholder: '$' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, 'Next', class: "btn-success" %>
      <%= link_to 'Back', :back %>
  </div>


  <% end %>

















