<!-- challenges/challenge_id/daily_goals/daily_goal_id/edit -->
<h1>here</h1>
<%=  simple_form_for @daily_goal, url: challenge_daily_goal_path(@challenge) do |f| %>
  <%= f.simple_fields_for :daily_goal_tasks do |p| %>
    <%= p.input :description %>
    <%= p.input :task_points %>
  <% end %>
  <%= f.button :submit, 'Next', class: "btn-success" %>
<% end %>
