

<div id="leaderboard-card">
  <% @participants.each do |participant| %>
    <div class="notification">
      <img src=<%= participant.user.photo %> class="avatar-large"/>
      <div class="notification-content">
        <p><strong><%= participant.user.handle %></strong></p>
        <p class="upboats"> total points:<%= participant.total_points %></p>
        <% participant.badges.each do |badge| %>
          <img src=<%= badge.icon_name %>>
        <% end %>
      </div>
        <%= form_tag challenge_upvotr_path, method: :post, remote: true do %>
          <%= button_tag "<i class='fa fa-arrow-up'></i>".html_safe, class: "upvote-btn",  value: "#{participant.id}"%>
        <% end %>
    </div>
  <% end %>
</div>
